$accent_color: #f23849;
$primary_color: #fff;
$secondary_color: #bebebe;
$link_color: #fff;
$link_hover_color: #f23849;
$title_color: #fff;
$bg_color: #202020;
$bg_block: #272a31;
$icon_color: #919191;
$input_border_color: #f23849;
$input_focus: #fcbd56;
$border_color: #474747;

$border_radius: 0;

$font_family: 'Poppins', sans-serif;
$font_family_title: 'Righteous', sans-serif;