/*----------------------------------------------------------
Main Stylesheet
Theme: Fitmax
Author: Rovadex
Version: 1.0

	01) NORMALIZE
	02) STRUCTURE
	03) TYPOGRAPHY
	04) HEADER
	05) FORMS
	06) FOOTER
	07) CONTENT STYLE
-----------------------------------------------------------*/
/*----------------------- STRUCTURE -----------------------*/
@import "structure";

/*----------------------- NORMALIZE -----------------------*/
@import "normalize";

/*----------------------- TYPOGRAPHY -----------------------*/
@import "typography";

/*------------------------- HEADER -------------------------*/
@import "header";

/*-------------------------- FORMS --------------------------*/
@import "forms";

/*-------------------------- FOOTER --------------------------*/
@import "footer";

/*--------------------------- CONTENT STYLE ---------------------------*/
@import "site";